body {
    text-align: center;
    background-color: black;
    color: azure;
}


p, img {
    display: flex;
    justify-self: center;
    align-items: center;
    max-height: 20px;
    max-width: 20px;

}
